/* FEATURES */

.main_features,
.main_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title,
.main_subtitle {
    color: white;
    margin-bottom: 0;
    font-family: RobotoL, sans-serif;
}

.main_title {
    margin-top: 162px;
    font-size: 52px;
    font-weight: 400;
}

.main_subtitle {
    width: 40%;
    text-align: center;
    margin-top: 27px;
    font-size: 20px;
    font-weight: 400;
}

.main_features_img { 
    display: flex;
    margin-top: 80px;
    color: white;
}

.main_features_img ul li {
    list-style-type: none;
    margin-top: 35px;
}

.main_features_img ul {
    margin-top: -35px;
    padding: 0;
}

.main_li_header {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: RobotoM, sans-serif;
}

.main_li_header img {
    margin-right: 13px;
}

.main_li_footer {
    display: inline-block;
    margin-top: 20px;
    width: 270px;
    font-family: RobotoL, sans-serif;
}

/* CONTENTS */

.main_contents_cards {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.main_contents_card {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
}

.main_contents_card h1 {
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: RobotoM, sans-serif;
    text-align: center;
}

.main_contents_card h5 {
    width: 270px;
    margin: 0;
    margin-top: 30px;
    color: #5C5C5C;
    font-size: 16px;
    font-family: RobotoL, sans-serif;
    text-align: center;
}

.card_1 {
    margin-right: 33px;
}

.card_2 {
    justify-content: space-between;
}